
.title {
  background-color: #fff;
  font-size: 4em;
  margin-top: 170px;
  text-align: center;
}
.title span:first-child {
  color: blue;
}
.title span:nth-child(2) {
  color: red;
}
.title span:nth-child(3) {
  color: yellow;
}
.title span:nth-child(4) {
  color: blue;
}
.title span:nth-child(5) {
  color: green;
}
.title span:nth-child(6) {
  color: red;

.a11yHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding: 10px 20px;
  align-items: center;
}

.user-list {
  display: flex;
}

.user-list a {
  display: block;
  padding: 5px 10px;
}
.button {
  width: 30px;
  height: 30px;
}
.button span {
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 1px solid;
}
.j {
  display: block;
  border: 1px solid;
  padding:10px 15px;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #eee;
  margin-left: 10px;
  background-color: rgb(17, 85, 204);

}
