.title {
  background-color: #fff;
  font-size: 4em;
  margin-top: 170px;
  text-align: center;
}
.title span:first-child {
  color: blue;
}
.title span:nth-child(2) {
  color: red;
}
.title span:nth-child(3) {
  color: yellow;
}
.title span:nth-child(4) {
  color: blue;
}
.title span:nth-child(5) {
  color: green;
}
.title span:nth-child(6) {
  color: red;
}
